@media(min-width: 600px){
	.field.date							{ width:67%; float:left; }
	.field.date label					{ width:43% }
	.field.date .middleColumn			{ width:48%; }
	.field.time_dropdown				{ width:31.9%; float:right; }
	.field.time_dropdown label			{ display:none; }
	.field.time_dropdown .middleColumn	{ width:100%; }
}